apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Notebook
      name: predictor-culpabilidad-wb
    path: git-sync-patch.yaml